<template name="Header">

    <div class="ui topmenu fixed borderless menu">

    <a href="{{pathFor 'Home_Page'}}"><img style="max-height: 100px; margin-left: -20px" class="ui image item" src="/images/manoav1.png"></a>
    <a href="#" class="item">{{> loginButtons }} </a>

      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Match_Page'}} item" href="{{ pathFor 'Match_Page' }}">
          <span style="font-size: 20px;font-weight: 600;color: #FFFFFF;">Chat Room/Match Finder</span>
        </a>
        <a class="{{ isActiveRoute 'Library_Page'}} item" href="{{ pathFor 'Library_Page' }}">
          <span style="font-size: 20px;font-weight: 600;color: #FFFFFF;">My Library</span>
        </a>
        <a class="{{ isActiveRoute 'Battle_Page'}} item" href="{{ pathFor 'Battle_Page' }}">
          <span style="font-size: 20px;font-weight: 600;color: #FFFFFF;">Battle! (For Testing)</span>
        </a>

      {{/if}}
      <!-- use to make available
      <a href="#" class="right item">{{> loginButtons }} </a> -->
    </div>

</template>
