body {
  padding-top: 0px;  /* Move body of page below navbar. */
  background: #151515;
  font-size: 40px;
  color: #FFFFFF;
}

.ui.borderless.topmenu.menu {
  border:none;
  border-radius: 0;
  box-shadow: none;
  background: url('/images/bg-header.png');


}

#home-bg {
  background: url('/images/bg.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 682px;
  margin-bottom: 10px;
}

.description {
  background: linear-gradient(#151515, darkslategray, #151515);
  font-size: 30px;
  padding: 40px 0;
}

#card_ex {
  background: url("/images/holmes.png") no-repeat center center;
  min-height: 600px;
  background-size: cover;
}

#description2 {
  background: url("/images/bg2.png") no-repeat center center;
  background-size: cover;
  min-height: 400px;
}
.full {
  height: 100%;
}
.player{
  text-align: right;
}
.chat {
  box-sizing: border-box;
  padding:0 20px;
  background: rgba(0,0,0,0.8);
  border: 5px solid #b01e17;
  border-radius: 6px;
  box-shadow: 0 1px 2px 2px #151515;
  font-size: 16px;
  text-align: left;
}
.slist {
  box-sizing: border-box;
  background: rgba(0,0,0,0.8);
  border: 5px solid #b01e17;
  border-radius: 6px;
  box-shadow: 0 1px 2px 2px #151515;
  font-size: 16px;
  text-align: center;
}

.menuv2.row {
  margin-top: -55px;
  background: black;
  text-align: right;
  padding-right: 80px;
}
.play {
  border: 3px solid white!important;
  border-radius: 10px!important;
  padding: 15px 100px !important;
  background: rgba(0,0,0,0.5)!important;
  color: white!important;
  font-size: 24px!important;
  font-weight: 200!important;
/*  margin: 0 auto!important;*/
}